
.mobile-user-menu {
  display: none;
}
.mobile-search-query {
  display: none;
}


@media screen and (max-width: 1024px) {
  body {
    background-color: $gray;
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }
  .web-user-menu{
   display: none;
  }
  .web-search-menu {
    display: none;
  }
  .search-movie-container {
    display: flex;
    flex-direction: column;
  }
  .card-container {
  }

  .search {
    background-color: $gray;
  }
  .search-container {
    display: none;
  }
  .search-box {
    background-color: $gray;
    text-align: left;
  }
  .search-query {
    display: none;
  }

  .mobile-user-menu {
    display: flex;
  }
  .user-menu-text {
    background-color: $blue;
    color: $white;
  }

  .user-menu-m {
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 96px;
  }
  .mobile-search-query {
    display: flex;
    margin: 26px 16px;
    min-width: 288px;

  }

  .mobile-search-menu {
    margin: 20px;
    border: none;
    background-color: $gray;
    .fa-bars {
      color: $yellow;
      position: relative;
      top: 22px;
      right: 58px;
    }
  }

  .discover {
    color: $blue;
    margin-left: 20px;
  }

  .movie-list {
    padding-left: 0;
  }
  .mobile-user-button {
    border: none;
    background-color: $gray;
    .fa-bars {
      color: $blue;
    }
  }

  #search {
    position: relative;
    left: 0px;
    top: 41px;
    font-size: 19px;
  }
}
