.card-container {
  display: flex;
  margin: 16px;
  background-color: $white;
  min-height: 210px;
  min-width: 228px;
}

.card-info {
  margin-left: 10px;
  padding: 16px 16px 32px;
  display: flex;
  flex-direction: column;
}

.card-image {

}

.image {
  height: 211px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: $blue;
}

.description {
  font-size: 12px;
  color: $blue;
}
.date {
  color: $yellow;
  font-size: 10px;
}
