
.container-search {
  display: flex;
}

.search-menu {
  background-color: $white;
  color: $blue;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 20px;
  height: 585px;
  text-align: left;
  width: 210px;
  button {
    border: none;
    background-color: $white;
    color: $blue;
    font-weight: bold;
  }
  .input {
    text-align: left;

  }
}

.search-bar {
 color: $yellow;
}

.search-box {
  border: none;
  border-bottom: 2px solid $yellow;
  color: $yellow;
  font-weight: bold;
  margin: 9px 0px 5px 7px;
  text-align: center;
  min-height: 40px;
  padding: 8px 16px;
}

.search {
  height: 59px;
  background-color: $white;
  width: 210px;
}

.input {
  text-align: center;
}

#search {
  position: fixed;
  top: 50px;
  right: 197px;
  color: $yellow;
}
