@import 'global';
@import 'movie-card';
@import 'movie-list';
@import 'search';
@import 'user-menu';
@import '_mobile';

body {
  font-family: Helvetica;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}
